
/*Import Icon Library*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');


/*Navbar Styles*/
.navbar {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

/*Change Navbar Toggler to only display on mobile*/
@media screen and (min-width: 768px){
    .navbar-toggler {
        display: none;
    }

    .navigation {
        flex: 0 0 auto;
    }

    .navigation.collapse {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: baseline;
        align-content: center;
    }
}

/*Logo*/
.logo {
    height: 30vh;
    width: auto;
}

