
/*Import Icon Library*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');



:root {
    /*Colors*/

    --beige: #faf0e6;
    --white: #fefdfc;
    --black: #1a1718;
    --silver: hsl(0, 0%, 75%);
    --silver-hover: hsl(0, 0%, 55%);
}

#wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
}

/*Space out Page elements*/

.navbar, main, footer {margin-bottom: 10%;}

/*Content Width*/

.wrapper {
    margin: 0 auto;
    width: 80%;
}

/*All Text Black unless specified*/
body {
    color: var(--black);
}


/*Navbar Styles*/
.navbar {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: var(--beige);
    align-items: center;
    font-size: 150%;
}

ul.navigation a  {
    text-decoration: none;
    color: var(--black);
    transition: border-bottom 2s ease-out 100ms;
}

ul.navigation a:hover {
    border-bottom: 2px solid var(--black);
    font-style: bold;
}

ul.navigation a:visited {
    color: var(--black);
}


/*Mobile Navbar*/
@media screen and (max-width:767px) {
    nav {
        display: flex;
        align-items: flex-start;
    }

    .navbar-toggler {
        border:none;
        color: var(--black);
        background-color: var(--beige);
        font-size: 150%;
    }

    .navigation.collapse {
        display:none;
    }

    ul.navigation {
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        height: 30vh;
    }

}

/*Desktop View of navbar*/
@media screen and (min-width: 768px){
    .navbar-toggler {
        display: none;
    }

    .navigation {
        flex: 0 0 auto;
    }

    ul.navigation {
        list-style-type:none;
    }

    .navigation.collapse {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: center;
        width: 65vw;
    }
}

/*Logo*/
.logo {
    height: 30vh;
    max-width: 30vw;
}


/*Call To Action */

.cta {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.cta-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.cta .img-holder {
    height: 400px;
    width: 400px;
}

.img-holder .cta-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cta-button {
    background-color: var(--silver);
    border: none;
    border-radius: 10px;
    padding: 20px;
}

.cta-button a {
    text-decoration: none;
    color: var(--white);
    transition: border-bottom 2s ease-out 100ms;
}

.cta-button a:visited {
    color:var(--white);
}


.cta-button:hover {
    background-color: var(--silver-hover);
}

.cta-button a:hover {
    border-bottom: 2px solid var(--white);
}

/*Mobile CTA Styles */

@media screen and (max-width: 767px) {
    .cta {
        display: flex;
        flex-flow: row wrap;
    }
}

/*Booking Form Styles*/ 

form {
    border: 2px solid var(--black);
    background-color: var(--beige);
    padding: 10px;
}

/*Footer*/
footer {
 text-align:center;
}
